<!DOCTYPE html><html><head><title>Failed Test Cases</title><style>h1{font-family: cursive}table {font-family: cursive, sans-serif;width: auto;border: 1px solid black;padding: 2px;border-spacing: 8px;}td, th {border: 1px solid #dddddd;text-align: center;padding: 20px;}tr:nth-child(even) {background-color: #dddddd;}body {}</style></head><body><h1>REGRESSION STATUS SUMMARIZED</h1><h2>Failed Test Cases List</h2><ol>{{ failed_list }}</ol></body></html>